<!-- use font awsome -->
<section class="sns_parent">
  <div class="sns_section">
      <div class="sns_button xtwitter">
        <a href="http://x.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}" target="_blank" title="X (Twitter)"><i class="fa fa-xtwitter"></i></a>
      </div>
      <div class="sns_button facebook">
        <a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="sns_button hatena">
        <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="hatena"><i class="fa fa-hatena"></i></a>
      </div>
      <!--
      <div class="sns_button pocket">
        <a href="http://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="pocket"><i class="fab fa-get-pocket"></i></a>
      </div>
      -->
      <div class="sns_button misskey">
        <a href="https://misskey-hub.net/share/?text={{ .Title }}&url={{ .Permalink }}&visibility=public&localOnly=0" target="_blank" title="Misskey"><img src="/img/misskey_mi.svg" alt="Misskey"></i></a>
      </div>
  </div>
</section>
